#filtersForm { display: none }

#nofilters {
	font-weight: bold;
	color: #680e0e;
}

#filtersPan {
	background-color: rgb(245, 245, 245);
	padding: 5px 10px;
	margin-bottom: 10px;
}

#filtersPan:hover {
	background-color: rgb(238, 238, 238);
}

#filtersPan i {
	display: block;
	float: right;
}

.slider {
	padding-top: 9px;
}

.slider div {
	width: 200px;
	float: left;
}

.slider span {
	display: block;
	font-weight: bold;
	margin: -4px 0 0 213px;
}

a.ui-slider-handle, radio {
	outline: none;
}

/* Security colors in dropdown menu */
.dropdown-menu li > a.secure_auth {
	color: #468847;
}

.dropdown-menu li > a.secure_auth:hover {
	color: #ffffff;
}

.dropdown-menu li > a.warning_auth {
	color: #df4b00;
}

.dropdown-menu li > a.warning_auth:hover {
	color: #ffffff;
}

.dropdown-menu li > a.dangerous_auth {
	color: #c00;
}

.dropdown-menu li > a.dangerous_auth:hover {
	color: #ffffff;
}

.fit {
    white-space:nowrap;
    width: 1px;
    text-align: center;
}

form .required {
    font-weight: bold;
}

form .required label:after {
    color: #e32;
    content: ' *';
    display:inline;
}

table td.smallCol, table th.smallCol {
    text-align: center;
}

h1 {
    border-bottom: 1px solid rgb(192, 192, 192);
}

h1,h2,h3 {
    text-shadow: 1px 1px 1px rgb(153, 153, 153);
    margin-bottom: 22px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
