#logsSearchForm { display: none }
#logmessage { margin-top: 12px }

#nofilters {
	font-weight: bold;
	color: #680e0e;
}

.loglinks td {
	text-align: center;
}

.loglinks td.logcellmsg {
	text-align: left;
	font-style: italic;
}

.loglinks td.logcellid {
	font-weight: bold;
}

.loglinks td.logcelldatetime {
	width: 140px;
}

.loglinks td a {
	color: #000;
}

tr.loglevelemerg, tr.loglevelalert, tr.loglevelcrit, tr.loglevelerr {
	background-color: #cc0000;
	color: #fff;
}

.loglinks tr.loglevelemerg:hover td, .loglinks tr.loglevelalert:hover td, .loglinks tr.loglevelcrit:hover td, .loglinks tr.loglevelerr:hover td {
	background-color: #a90000;
}

tr.logleveldebug {
	background-color: #95c2cf;
}

.loglinks tr.logleveldebug:hover td {
	background-color: #84acb8;
}

tr.loglevelemerg a, tr.loglevelalert a, tr.loglevelcrit a, tr.loglevelerr a {
	color: #fff;
}

tr.loglevelwarn {
	background-color: #cc4500;
	color: #fff;
}

.loglinks tr.loglevelwarn:hover td {
	background-color: #ba4b12;
}

tr.loglevelwarn a {
	color: #fff;
}

#openpan {
	background-color: rgb(245, 245, 245);
	padding: 5px 10px;
	margin-bottom: 10px;
}

#openpan:hover {
	background-color: rgb(238, 238, 238);
}

#openpan i {
	display: block;
	float: right;
}

.slider {
	padding-top: 9px;
}

.slider div {
	width: 200px;
	float: left;
}

.slider span {
	display: block;
	font-weight: bold;
	margin: -4px 0 0 213px;
}

a.ui-slider-handle {
	outline: none;
}
