.lists-wrapper {
	 margin: 0 0 0 40px;
}

.list-container {
	padding: 0 10px 10px 0;
	width: 400px;
	min-height: 150px;
}

.list-title {
	text-align: center;
	line-height: 25px;
	font-weight: bold;
}

.connectedList {
	display: block;
	list-style-type:none;
	min-height: 22px;
	height: 450px;
	overflow: auto;
	padding: 5px;
	margin: 0;
}

.connectedList li, .connectedList li:empty {
	display: block;
	margin: 2px;
	height: 24px;
	vertical-align: bottom;
}

.label2 {
    font-size: 110%;
    text-align: left;
    font-weight: normal;
}