#filtersForm { display: none }

#nofilters {
	font-weight: bold;
	color: #680e0e;
}

.pull-right .btn {
    margin-left: 10px;
}

.toggleBlock {
	background-color: rgb(245, 245, 245);
	padding: 5px 10px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.toggleBlock:hover {
	background-color: rgb(238, 238, 238);
}

.toggleBlock i {
	display: block;
	float: right;
}

.hidden {
    display: none;
}

.slider {
	padding-top: 9px;
}

.slider div {
	width: 200px;
	float: left;
}

.slider span {
	display: block;
	font-weight: bold;
	margin: -4px 0 0 213px;
}

a.ui-slider-handle, radio {
	outline: none;
}

/* Security colors in dropdown menu */
.dropdown-menu li > a.secure_auth {
	color: #468847;
}

.dropdown-menu li > a.secure_auth:hover {
	color: #ffffff;
}

.dropdown-menu li > a.warning_auth {
	color: #df4b00;
}

.dropdown-menu li > a.warning_auth:hover {
	color: #ffffff;
}

.dropdown-menu li > a.dangerous_auth {
	color: #c00;
}

.dropdown-menu li > a.dangerous_auth:hover {
	color: #ffffff;
}

.fit, td.fit, th.fit {
    white-space:nowrap;
    width: 1px;
    text-align: center;
}

form .required {
    font-weight: bold;
}

form .required label:after {
    color: #e32;
    content: ' *';
    display:inline;
}

table td.smallCol, table th.smallCol {
    text-align: center;
}

h1 {
    border-bottom: 1px solid rgb(192, 192, 192);
}

h1,h2,h3 {
    text-shadow: 1px 1px 1px rgb(153, 153, 153);
    margin-bottom: 22px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.content {
    padding-left: 265px;
}

ul.menuphone {
    float: left;
    position: relative;
    margin-top: -30px;
}

div.menutopphone {
    position: absolute;
}

.icon-red {
    background-image: url("../img/glyphicons-halflings-red.png");
}

.icon-green {
    background-image: url("../img/glyphicons-halflings-green.png");
}

.icon-orange {
    background-image: url("../img/glyphicons-halflings-orange.png");
}

.form-signin {
    max-width: 500px;
    margin: 0 auto 0;
}

.check-horizontal + .check-horizontal {
    margin-left: 20px;
}

.wizard .next {
    float: left;
    margin-left: 10px;
}

.unknown {
    color: red;
    display: inline;
    white-space: nowrap;
}

#bar {
    height: 6px;
}

.logo {
	float: left;
	margin-right: 20px;
}

.copyright img {
	margin-top: 4px;
}

#snackcopy {
    font-variant: small-caps;
}

.tooltip {
    white-space: normal;
    font-weight: normal;
    font-style: normal;
    text-shadow: 0px 0px 0px;
    font-size: 11px;
}

.bhbody {
    min-height: 270px;
}

.modal-header {
    text-align: left;
}

.modal-body {
    text-align: center;
}

#snakefade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1999;
}

#snakewrap {
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -200px;
    z-index: 2000;
    position: absolute;
    border: 10px solid #0088cc;
    background-color: #fff;
}

#snake td {
	width: 20px;
	height: 20px;
}

#snakescore, #snakelevel {
    top: 10px;
    left: 90px;
    font-weight: bold;
    font-size: 30px;
    border: 10px solid #0c5a0c;
    background-color: #fff;
    z-index: 2001;
    position: absolute;
    text-align: center;
    padding: 15px;
}

#snakelevel {
    left: 10px;
    border-color: #aa0000;
}

.diff-table tr {
    color: #999;
    text-shadow: 0 1px 0 #eee;
    font-size: 13px;
    line-height: 20px;
}

.diff-table th {
    text-align: center;
    font-size: 14px;
    color: #0088CC;
    border-bottom: 1px solid #ddd;
}

.diff-table td {
    color: #555;
    width: 49%;
    border-bottom: 0;
    border-top: 0;
    padding: 2px;
}

.diff-table tbody tr:hover > td {
    background: #D9EDF7;
}

.diff-table td.diff-number {
    font-weight: bold;
    width: 2%;
    border-top: 1px solid #ddd;
}

.diff-table tr:nth-child(2) td.diff-number {
    border-top: 0;
}

.add {
    background: #c1e2b3;
}

.del {
    background: #ffbbbb;
}

.up {
    background: #f7ecb5;
}

.blank {
    background: #ddd;
}

//#logmessage { margin-top: 12px }

.loglinks td {
	text-align: center;
}

.loglinks td.logcellmsg {
	text-align: left;
	font-style: italic;
}

.loglinks td.logcellid {
	font-weight: bold;
}

.loglinks td.logcelldatetime {
	width: 140px;
}

.loglinks td a {
	color: #000;
}

tr.loglevelemerg, tr.loglevelalert, tr.loglevelcrit, tr.loglevelerr {
	background-color: #cc0000;
	color: #fff;
}

.loglinks tr.loglevelemerg:hover td, .loglinks tr.loglevelalert:hover td, .loglinks tr.loglevelcrit:hover td, .loglinks tr.loglevelerr:hover td {
	background-color: #a90000;
}

tr.logleveldebug {
	background-color: #95c2cf;
}

.loglinks tr.logleveldebug:hover td {
	background-color: #84acb8;
}

tr.loglevelemerg a, tr.loglevelalert a, tr.loglevelcrit a, tr.loglevelerr a {
	color: #fff;
}

tr.loglevelwarn {
	background-color: #cc4500;
	color: #fff;
}

.loglinks tr.loglevelwarn:hover td {
	background-color: #ba4b12;
}

tr.loglevelwarn a {
	color: #fff;
}

.form-signin {
        max-width: 570px;
}

.btn + .btn-group {
    margin-left: 5px;
}
